[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "vim/pack/vendor/start/vim-commentary"]
	path = vim/pack/vendor/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/pack/vendor/start/night"]
	path = vim/pack/vendor/start/night
	url = https://github.com/lfzuniga/night
[submodule "vim-act"]
	path = vim-act
	url = https://github.com/lfzuniga/vim-act
